.wrapper{
    /* background-color: white; */
    /* border: 1px solid black; */
    position: relative;
    height: 100px;
    overflow: hidden;
    color: black;
    font-size: 1rem;
}

.item {
    width: 100px;
    height: 100px;
    /* background-color: red; */
    border-radius: 3px;
    position: absolute;
    left: max(calc(100px * 11), 100%);
    animation-name: scrollLeft;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.item img {
    width: 60px;
}

.item1{
    animation-delay: calc((20s / 11) * (11 - 1) * -1);
}

.item2{
    animation-delay: calc((20s / 11) * (11 - 2) * -1);
}

.item3{
    animation-delay: calc((20s / 11) * (11 - 3) * -1);
}

.item4{
    animation-delay: calc((20s / 11) * (11 - 4) * -1);
}

.item5{
    animation-delay: calc((20s / 11) * (11 - 5) * -1);
}

.item6{
    animation-delay: calc((20s / 11) * (11 - 6) * -1);
}

.item7{
    animation-delay: calc((20s / 11) * (11 - 7) * -1);
}

.item8{
    animation-delay: calc((20s / 11) * (11 - 8) * -1);
}

.item9{
    animation-delay: calc((20s / 11) * (11 - 9) * -1);
}
.item10{
    animation-delay: calc((20s / 11) * (11 - 10) * -1);
}
.item11{
    animation-delay: calc((20s / 11) * (11 - 11) * -1);
}

@keyframes scrollLeft{
    to{
        left: -100px;
    }
}