.project-card{
    /* background-color: white; */
    border-bottom: 2px black solid;
    /* border-top: 2px black solid; */
    /* border: black 1px solid; */
    border-radius: 4px;
    cursor: pointer;
}

.project-name{
    font-size: 1.5rem;
    font-weight: 600;
}


.project-img img{
    width: 4.5rem;
    /* height: 4.5rem; */
}

.project-desc{
    width: 85%;
    font-size: 1.15rem;
    text-align: justify;
}